In [ ]:
#looping 
#for loop
#it is use for sequential traversal
#it is use to itrate over iterable
#seq-list,tuple,string,set
#Syntax

#for item in sequence:
       #statements(repeated task)

In [1]:
list=[2,8,6,5,9,8,5,8,6,6,5]
for data in list:
    print(data)

2
8
6
5
9
8
5
8
6
6
5

In [5]:
name=("Vishal jadhav")
for i in name:
    print(i)

V
i
s
h
a
l

j
a
d
h
a
v

In [6]:
t=(25,26,35,85,68,522,52,85)
for i in t:
    print(i)

25
26
35
85
68
522
52
85

In [7]:
i=0
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
# for loop using enumerate
#to use access or keep track of index of perticular sequence 
t=(25,26,35,85,68,522,52,85)
for data in enumerate(t):
    print(data)

(0, 25)
(1, 26)
(2, 35)
(3, 85)
(4, 68)
(5, 522)
(6, 52)
(7, 85)

In [11]:
t=(25,26,35,85,68,522,52,85)
for index,data in enumerate(t,start=1):
    print(index,data)

1 25
2 26
3 35
4 85
5 68
6 522
7 52
8 85

In [15]:
#print 1 to 10 mnumber no's using rang 
#range(start,end,step)
#default range start with zero
i=0
for i in range (0,11,1):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
for i in range(0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [18]:
#print 10 to 0
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [23]:
#accept the number from the user and print its table
n=int(input("Enter a number:"))
for i in range(1,11,1):
    print(n,"*",i,"=",i*n)

Enter a number: 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
#print odd number between 30to 40

In [28]:
for i in range(0,21):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [29]:
for i in range(0,21):
    if i%2==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [3]:
#Accept a number from user and print its factorial
n=int(input("Enter a number :"))
fact=1
for i in range (1,n+1):
    fact=fact*i
print(fact)

Enter a number : 4

24