In [ ]:
#break 
#Continue

In [3]:
#break Statement-stop the loop
for i in range(1,20):
    if i==15:
        break;
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [4]:
#continue-to skip specific iteration
for i in range(1,20):
    if i==10:
        continue;
    print(i)

1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19

In [6]:
#Accept the number from user and check whether it is prime or not
n=int(input("Enter a number"))
if (n

Enter a number 5

TypeError: 'int' object is not iterable

In [10]:
#Neasted for-for loop another for loop
for i in range(1,4):
    for j in range(1,4):
        pass
        print(i)

1
1
1
2
2
2
3
3
3

In [12]:
for i in range(1,4):
    for j in range(1,4):
        print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [16]:
for i in range(1,4):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3

In [22]:
for i in range(1,5):
    for j in  range(1,i+1):
        print(i,end="  vishal ")
    print()

1  vishal
2  vishal 2  vishal
3  vishal 3  vishal 3  vishal
4  vishal 4  vishal 4  vishal 4  vishal

In [26]:
for i in range(1,5):
    for j in range(1,i-1):
        print(i,end=" ")

3 4 4

In [ ]:
i=1
while i<21:
    print(i)
    i=i+1